@charset "UTF-8";
html {
	overflow-y: scroll;
}

body {
	background-color: darkorange;
	text-align: center;
	font-size: 13px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-textsize-adjust: 100%;
	color: white;
	font-family:  "ＭＳ Ｐゴシック";
}

.Yasai img {
	width: 800px;
	height: 370px;
	vertical-align: center;
	margin-right: 8cm;
	margin-left: 9cm;
	padding: 5px;
	padding-bottom: 0px;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:0px;
	margin-left:215px;

		
}

footer img {

	width: 600px;
	height: 80px;
	margin-top:0cm;
	margin-left:7cm;
	margin-right:8cm;
	border-radius: 10px 20px /10px 25px 30px 20px

 }

 title {
	margin-top: 0;
 }
 .btn {

	border-radius: 5px;
	background-color: red;
	padding: 0px;
	text-decoration:inherit;
	color: white;
	border:1px solid pink;
    height: 15px;
    width:  100px;  
	padding:  5px;
	margin-top: -0.5cm;
	margin-right:0.5cm;
	margin: left 0.5cm;
	float: right;
	text-align: center;

}
.memo {
	text-align: left;
	margin-left: 6.5cm;
	margin-right: 8cm;
}

p.footer {
	border-bottom: 5px dotted #e3fc09;	
	
 }

