<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="サイトの説明文">
    <title>食材トラッカー</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/login">ログイン</a>
            <a href="/logout">ログアウト</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
    
</body>
</html>