<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="サイトをキーワードで説明">
    <meta name="description" content="どんなサイトかを短い文章で説明">
    <meta name="viewport" content="width=device-width,initial-scale1,user-scalable=1">
    <link rel="icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/toppage_sp.css" media="screen and (min-width: 480px)">
    <title>食材トラッカー</title>
    <h1 id="title">食材トラッカー</h1> 
</head>

<body>

    <header>           
        <ul><a href="#sec1"> </a></ul>  
        <div class="header box">
        <a href="http://127.0.0.1:5000/register" class="btn">登録</a>  
        <a href="http://127.0.0.1:5000/login" class="btn">ログイン</a>
        </div>   
    
    </header>

    <article>
                  
        <section id="sec2">
            <div class="title">
                
            </div>
            <div class="Yasai">
                    <a href="#"><img src="../static/img/Yasai.png"></a>
            </div>

            <div class="memo">
                <p>"自宅の冷蔵庫から食材のロスを減らしたい、家で料理する人向けのフードロスを目指すサービスです。
                    老若男女問わず利用することができ、冷蔵庫にある食材から作れるレシピを見つける手助けをします。
                    ボタンを押すと、クックパッドを参照できる特徴が備わっています。"	                                
                </p>                
            </div>
        </section>
     </article>
        
     <footer>
        <f1><a href="#"><img src="../static/img/footer.png"></a></f1>
         <p class="copyright">Copyright &copy; DEMO all rights reserved.</p>
     </footer>

</body>
</html>