{% extends 'base.html' %}

{% block content %}

<div class="food-main">
    <div class="food-list">
        <div class="food-header">
            <h1>食材 Lists</h1>

            <a href="#" class="btn">削除</a> 
            <a href="#" class="btn">登録</a> 
        </div>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>check</th>
                        <th>date</th>
                        <th>food</th>
                        <th>category</th>
                        <th>priority</th>
                        <th>stock</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in food_lists %}
                    <tr>
                        <td>{{item.check}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.food}}</td>
                        <td>{{item.category}}</td>
                        <td>priority</td>
                        <td>{{item.stock}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}