{% extends 'base2.html' %}

{% block content %}

<div class="food-regist">
    <h1 style="margin-bottom:50px">食材登録</h1>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}

    <form method="post">
        <div class="form-group">
            <label>食材名</label>
            <input type="text" class="form-control" name="food">
        </div>
        <div class="form-group">
            <label>カテゴリー</label>
            <input type="text" class="form-control" name="category">
        </div>
        <div class="form-group">
            <label>優先度</label>
            <input type="text" class="form-control" name="priority">
        </div>
        <div class="form-group">
            <label>在庫数</label>
            <input type="text" class="form-control" name="stock">
        </div>
        <a button type="submit" class="btn btn-border-shadow-regist btn-border-shadow--radius">登録
        <a button type="button" class="btn btn-border-shadow btn-border-shadow--radius" onclick="history.back()">戻る
    </form>

</div>



{% endblock %}